body {
    font-family: "Montserrat", sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: "Montserrat-500", sans-serif;
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: bold;
}

/*navigation bar*/

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
    left: 60%;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Ubuntu";
}

/*Download button*/

.down-btn {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 22%;
    transform:rotate(25deg);
    position: absolute;
    right: 20%;
    
}

h3 {
    font-family: "Montserrat Alternates";
    font-size: 1.5rem;
    color: black;
}

p {
    color: #8f8f8f;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: "Montserrat Alternates";
    line-height: 1.5;
    font-size: 2.5rem;
}

.testim-img {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing*/

#pricing {
    padding: 100px;
    text-align: center;
} 

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-img{
        width: 60%;
        position: static;
        transform: rotate(0);
    }
}

#cta {
    text-align: center;
    background-color: #ff4c68;
    padding-top: 10%;
    line-height: 1.5;
}

.h33 {
    font-size: 3rem;
    color: #fff;
    font-family: "Montserrat Alternates";
}

#footer {
    text-align: center;
    background-color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ficon {
    padding: 4px 4px 4px 4px;
}